
{server_ip,any}.
{server_port,6000}.

%%================数据库==================
{db_host,"192.168.1.1"}.
{db_port,3306}.
{db_user,"root"}.
{db_password,"123456"}.
{db_name,"game"}.
{db_encode,utf8}.
%%================HTTP==================
{http_port,8081}.
{white_list,[{127,0,0,1},{192,168,16,235}]}.
{http_key,<<"localkey">>}.